<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="address" class="kakashi.Address">
	<constructor-arg value="Pune"/>
	
	<constructor-arg value="Maharashtra" type="java.lang.String"/>
	
	
	</bean>
		
	
	<bean id="student" class="kakashi.student">
	<constructor-arg value="3327"/>
	<constructor-arg value="Kiran" type="java.lang.String"/>
	<constructor-arg ref="address"/> 
	
<!-- 	<property name="city" value="Mumbai"></property>
	<property name="state" value="mhh"></property> -->
		
	<!-- 
		<property name="rollno" value="3301"/>
		<property name="name" value="kakashi"/>
 -->	</bean>
</beans>